.main {
  flex-direction: row;
}

#thermostat {
  min-height: 90vh;
  width: 100%;

  align-items: center;
}

.unit-info {
  width: 300px;
  margin: 30px;

  align-items: center;
}

.unit-info__title {
  margin: 15px;
  font-weight: 400;
  font-size: 25px;
}

.unit-info__buttons {
  width: 175px;
}

/* On/Off button */
.unit-info__power:focus{
  background-color: white;
}

.on {
  color: #02BCC7;
}

.on:focus {
  color: #02BCC7;
}

.off {
  color: red;
}

.off:focus {
  color: red;
}

.thermostat-control {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* opacity: 30%; */
}